#gamemaster-page {
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  color: white;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 3%;
}

.gamemaster-clues {
  display: flex;
  flex-direction: column;
}

.gamemaster-clues .messages-list {
  flex: 1;
  text-align: center;
  padding: 50px 0px;
}

.gamemaster-clues .player-form textarea {
  width: 100%;
  height: 100px;
}

.gamemaster-game-track {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: currentcolor;
  padding-left: 20px;
}

.player-form button {
  display: block;
  width: 100%;
}

#gamemaster-page > * {
  flex: 1 100%;
}

.gamemaster-commands {
  display: flex;
  flex-direction: column;
  text-transform: initial;
  margin-top: 30px;
}

.command-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.command-type {
  text-align: center;
  text-transform: capitalize;
  font-size: 0.8rem;
}
